// app/layout.tsx
import '../styles/globals.css';
import '../styles/variables.css';

import { ReactNode } from 'react';
import {
  CartProvider,
  UserProvider,
  ProductProvider,
  ThemeProvider,
} from '@/context';

import { Header } from '@/components/header';
import { Footer } from '@/components/footer';

export const metadata = {
  title: 'YourBrand Ecommerce',
  description: 'Professional Next.js Ecommerce Application',
  icons: {
    icon: '/favicon.ico',
  },
};

export default function RootLayout({ children }: { children: ReactNode }) {
  return (
    <html lang="en">
      <body className="min-h-screen bg-white text-black antialiased">
        <ThemeProvider>
          <UserProvider>
            <CartProvider>
              <ProductProvider>
                <Header />
                <main className="min-h-screen py-6">{children}</main>
                <Footer />
              </ProductProvider>
            </CartProvider>
          </UserProvider>
        </ThemeProvider>
      </body>
    </html>
  );
}
